.container {
  padding-top: 60px;
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.loader,
.error {
  font-size: 24px;
  text-align: center;
  margin-top: 50px;
}

.hero {
  background-color: #f2f2f2;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  min-height: 250px;
}

.heroImage {
  width: 1160px;
  max-height: 310px;
}

.title {
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 60px;
}

.infoCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 50px;
}

.card {
  padding: 20px;
  font-size: 24px;
  border-radius: 28px;
  background: var(
    --dark-gradient,
    linear-gradient(
      152.61deg,
      rgba(21.461162567138672, 23.483339309692383, 31.572021484375, 1),
      rgba(30.28127670288086, 33.45381164550781, 46.14404296875, 1) 100%
    )
  );
  display: flex;
  gap: 25px;
}
.number {
  color: rgba(188, 236, 48, 1);
  font-family: Roboto;
  font-size: 75px;
  font-weight: 500;
  line-height: 88px;
  letter-spacing: 0px;
  text-align: left;
}
.description {
  color: rgba(255, 255, 255, 1);
}

.card span {
  font-size: 48px;
  font-weight: bold;
  margin-right: 10px;
}

.directions,
.benefits {
  margin-bottom: 50px;
}

.subTitle {
  width: 398px;
  margin-bottom: 28px;
  color: rgba(0, 0, 0, 1);
  font-family: Roboto;
  font-size: 60px;
  font-weight: 500;
  line-height: 70px;
  letter-spacing: 0px;
  text-align: left;
}

.directionsGrid {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  border-radius: 28px;
  background: rgba(188, 236, 48, 1);
}

.directionItem {
  font-size: 24px;
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.directionItem svg {
  width: 26px;
  height: 26px;
  margin-top: 4px;
}

.startSection {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  border-radius: 30px;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgba(255, 255, 255, 1);
}

.benefitsList {
  width: 437px;
  color: rgba(0, 0, 0, 1);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 28px;
}

.startButton {
  padding: 16px 32px;
  border-radius: 46px;
  background-color: rgba(188, 236, 48, 1);
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.startImage {
  max-width: 400px;
  height: auto;
}
