.container {
  padding-top: 120px;
  padding-bottom: 50px;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.hero {
  max-width: 800px;
  margin-bottom: 50px;
}

.title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.bubble {
  top: 0;
  right: -200px;
  background-color: #d9f99d;
  padding: 20px 30px;
  border-radius: 25px;
  font-size: 1.25rem;
  font-weight: 600;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 40px;
}

.description {
  color: rgba(0, 0, 0, 1);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
}
